
.footer-main {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-inner-left {
    width: 100%;
    background-color: #353935;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner-left .img-container {
    display: flex;
    gap: 30px;
}

.footer-inner-left .img-container img {
    cursor: pointer;
}

.footer-inner-right {
    width: 100%;
    background-color: #28282B;
    color: #fff;
    text-align: center;
    font-size: 13px;
}